@using ViewsExample.Models;
@model List<Person>
@{
        double? GetAge(DateTime? dateofBirth)
        {
            if(dateofBirth.HasValue)
           {
               return Math.Round((DateTime.Now - dateofBirth).Value.TotalDays / 365);
           }
           return null;
        }
        

}
<!DOCTYPE html>
<html>
<head>
    @* <title>@appTitle</title> *@
    @* <title>@ViewData["appTitle"]</title> *@
    <title>@ViewBag.appTitle</title>
    <meta charset="utf-8" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
    <body>
        <div class="page-content">
        <h1>Person</h1>
        @{
          //  List<Person>? people = (List<Person>?)ViewData["people"];
        }
        @foreach (Person person in Model)
        {
                <div class="box">
                    @*Person name*@
                    <table class="table">
                    @if (person.Name != null)
                    {
                        <span>Hello @person.Name</span>
                    }
                    else
                    {
                        <h2>Your name is Unknown</h2>
                    }
                    <span>, </span>
                    @*person BirthDate*@
                    @if (person.BirthDate.HasValue)
                    {
                        <span>Age: @GetAge(person.BirthDate) years old</span>
                    }
                    else
                    {
                        <span>Date of Birth is unknown</span>
                    }
                    @*person Gender*@
                     <div><a href="person-details/@person.Name">Details</a> </div>
                                         <div>
                         <a href="/person-with-products">Person And Product</a
                    </div>
                    </table>
                    
                </div>
        }
       

        </div>

   
    </body>
</html>